{% extends '@AcMarcheApi/base.html.twig' %}

{% block body %}

    <h1>Hello ✅</h1>

    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('actualite') }}">Actualités</a></li>
        <li class="list-group-item">
            <a href="{{ path('necrologie') }}">Nécrologie</a> /
            <a href="{{ path('necrologie_full', {'fullpage': '1'}) }}">Nécrologie full</a>
        </li>
        <li class="list-group-item"><a href="{{ path('events') }}">Events</a></li>
        <li class="list-group-item"><a href="{{ path('rues') }}">Rues</a></li>
    </ul>
    {% if is_granted('ROLE_ADMIN') %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('bottin_api_fiches') }}">Fiches</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_api_commerces') }}"> Commerces</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_api_fiche_by_category',{'id': 512}) }}">Fiches by category</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_api_fiche_id',{'id': 334}) }}">Fiche by id</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_test_ids') }}">Fiche by ids</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_api_fiche_slug',{'slug': 'bureau-memo'}) }}">Fiche by slug</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_test_search') }}">Search</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('bottin_test_updatefiche') }}">Update fiche</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
